body {
   background-image: url("../images/footer_lodyas.png");
}

.danger-well {
   background-color: #ff7f7d;
}

.warning-well {
   background-color: #ffd06b;
}

.success-well {
   background-color: #a6ffb4;
}
